:root {
    --primary-color: #F8AAA6;
    --secondary-color: #ADCD6E;
    --secondary-color-dark: rgb(144, 175, 83);
    --footer-bottom-color: #D0F6A5;
}
body {
    font-family: 'Caveat', cursive,'Josefin Sans', sans-serif;
}


.btn-primary {
    background: var(--secondary-color);
    border: #90af53;
    color: #000;
    font-weight: 600;
}

.btn-primary:hover {
    background: #90af53;
    color: #000;
}

.df-sec-top {
    margin-top: 6.5rem;
}

.df-sec {
    margin: 13rem 0;
}

.df-sec-half {
    margin: 6.5rem 0;
}

.space-pt {
    padding: 100px 0 0;
}

.theme-p {
    color: var(--primary-color);
}

.theme-s {
    color: var(--secondary-color);
}


.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}
.breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.breadcrumb-item.active {
    color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}

.main-header .topbar {
    padding: 5px 0;
    border-bottom: 1px solid rgba(2, 45, 98, 0.1); }
    .main-header .topbar ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0;
      color: #ffffff; }
      .main-header .topbar ul li {
        padding: 0 12px; }
        .main-header .topbar ul li:last-child {
          padding-right: 0; }
    .main-header .topbar a {
        text-decoration: none;
      color: #6f6f6f;
      font-size: 16px;
      font-weight: 600; }
      .main-header .topbar a:hover {
        color: #000; }

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    background: #fff;
    border-bottom: 1px solid #0000001f;
}

.d-space {
    margin: 6rem 0;
}

.border-shadow {
    border-bottom: 1px solid #0000001f;
}


.navbar-nav .nav-link {
    font-weight: 800 !important;
    font-size: 1.3rem !important;
    color:black;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--secondary-color) !important;
}


#footer {
    background-color: var(--secondary-color);
}


#footer h6 {
    font-weight: 700;
    font-size: 1.3rem;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li > a{
    color: black;
    /* padding-bottom: 1rem ; */
    font-size: 1.1rem;
    display:block;
    padding-bottom: 1rem;
}

.footer-para{
    font-size: 1.2rem;
}



.wpF {
    position:fixed;
    bottom: 20px;
    right: 20px;
}

.wpF a img {
    width: 65px;
    height: 65px;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxes-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container .box  .img-box{
    /* max-width: 90px; */
    width: 140px;
    border-radius: 100%;
    overflow: hidden;
    transition: all .5s ease;
}

.boxes-container .box:hover .img-box img {
    transform: scale(1.1);
}

.boxes-container .box:hover  a {
    color: grey;
}

.boxes-container .box  .img-box img{
    width: 100%;
    transition: all .5s ease;
}

.boxes-container .box  a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.boxes-container .box h3 a:hover {
    text-decoration: none;
    color: grey;
}

.boxes-container .box  .img-box:hover img {
    transform: scale(1.1);
}

@media ( max-width: 460px ) {
    .box .img-box {
        width: 90px !important;
    }
}

.gallery-container .box img {
    width: 100%;
}

.gallery-container .box {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;transition: all .1s ease;
}

.gallery-container .box:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: scale(1.015);
}


.gallery-container .box::after {
    content: "\f16d";
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    align-items: center;
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 100%;
    background: rgba(0, 0, 0, 0.349);
    transition: all .2s ease-in-out;
    font-family: "Font Awesome 5 Brands";
}

.gallery-container .box:hover::after {
    transform: scale(1);
}

#whyUs {
    background: url('/assets/images/whyUs.jpg') no-repeat;
    background-position: center !important;
    width: 100%;
    background-size: cover;
    padding: 8rem 4rem;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0x);
    background-attachment: fixed;
    display: block;
}



#whyUs .wrapper {
    /* text-align: center; */
    color: #fff;
    font-weight: 700;
}

#whyUs .wrapper h2 {
    font-size: 2.9rem;
    font-weight: 600;
}

#whyUs .wrapper p {
    font-size: 1.23rem;
}

.bloom-btn {
    background: var(--secondary-color);
    color: #fff;

    border-radius: 10px;
    text-decoration: none;
    font-size: 1.25rem;
}

.tst-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials {
    margin: 4rem 0;
    padding: 6rem 0;
    background: #eee;
}

.tst-box .pp-box {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.tst-box .pp-box img {
    width: 100;
}

.tst-box .det-box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.det-box p {
    padding: 0 2.3rem;
}

/* .prevArrowCustom {
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 15px;
    line-height: 0;
    position: absolute;
    transform: translate(0, -50%);
}

.nextArrowCustom {
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    right: ;
    padding: 0;
    font-size: 15px;
    line-height: 0;
    position: absolute;
    transform: translate(0, -50%);
} */

.slick-prev:before, .slick-next:before {
    color: grey !important;
}

.slick-dots li button:before {
    font-size: 22px !important;
}

#clientLogo .logobox {
    display: flex;
    justify-content: center;
}

/* .clientslogo-slider .slick-dots {
    padding: 1rem 0;
} */


@media (max-width: 480px) {

    .boxes-container .box {
        margin-bottom: 20px;
    }
}


.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}



@media (max-width: 418px) {
    .topbar {
        display: none;
    }
}


.slick-prev:before, .slick-next:before {

    font-family: "Font Awesome 5 Free" !important;

}


.slick-prev:before {
    content:  '\f359' !important;
}
.slick-next:before {
    content:  '\f35a' !important;
}



.grayscale, .img-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

iframe {
    width: 100%;
}



.h-100vh {
height: 100vh !important; }

.h-800 {
height: 800px; }

.h-700 {
height: 700px; }

.h-600 {
height: 600px; }

.h-500 {
height: 500px; }

.p-6 {
padding: 5rem !important; }



.social-icon li {
    display: inline-block;
    margin-right: 50px;
}


.social-icon li a {
    font-size: 18px;
    color: #000;
}

.footer-bt {
    text-align: center;
    padding: .5rem;
    background: var(--secondary-color-dark);
}


.footer-bt p {
    margin-bottom: 0;
}


@media (max-width: 767px) {
    .df-sec {
        margin: 6.5rem 0;
    }
    .p-6 {
        padding: 3rem !important;
    }
}



/*****************************
  List style
*****************************/
.list {
    margin: 0;
    padding: 0; }
    .list li {
      margin-bottom: 15px;
      color: #fff; }
      .list li:last-child {
        margin-bottom: 0px; }

  .list-number li span {
    background: rgba(239, 49, 57, 0.1);
    color: #FFAF00;
    border-radius: 50%;
    margin-right: 8px;
    width: 25px;
    height: 25px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    line-height: 25px;
    font-size: 13px; }





/*****************************
  Form Control
*****************************/
/* form-control */
.form-control {
    border: 1px solid #eeeeee;
    border-radius: 0px;
    height: 48px;
    padding: 10px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    background: #f6f6f6;
    color: #022d62;
    border-radius: 5px;
    background-clip: inherit !important; }
    .form-control:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      border-color: #FFAF00; }

  .form-control::-moz-placeholder {
    color: #3a4957; }

  .form-control::-ms-input-placeholder {
    color: #3a4957; }

  .form-control::-webkit-input-placeholder {
    color: #3a4957; }

  /* form-dark */
  .form-dark .form-control {
    background-color: #022d62;
    color: #ffffff; }
    .form-dark .form-control:focus {
      -webkit-box-shadow: 2px 2px 4px 0px rgba(2, 45, 98, 0.1);
              box-shadow: 2px 2px 4px 0px rgba(2, 45, 98, 0.1);
      border-color: #FFAF00; }

  .form-white .form-control {
    background-color: #ffffff;
    color: #022d62;
    font-weight: 500;
  }
    .form-white .form-control:focus {
      border-color: #FFAF00; }

  .form-dark .form-control::-moz-placeholder {
    color: #ffffff; }

  .form-dark .form-control::-ms-input-placeholder {
    color: #ffffff; }

  .form-dark .form-control::-webkit-input-placeholder {
    color: #ffffff; }
