:root {
    --primary-color: #F8AAA6;
    --secondary-color: #ADCD6E;
    --secondary-color-dark: rgb(144, 175, 83);
    --footer-bottom-color: #D0F6A5;
}

html {
    font-size: 12px !important;
}

body {
    font-family: 'Comfortaa', cursive,'Josefin Sans', sans-serif;
}

.btn-primary {
    background: var(--secondary-color);
    border: #90af53;
    color: #000;
    font-weight: 600;
}

.btn-primary:hover {
    background: #90af53;
    color: #000;
}

.df-sec-top {
    margin-top: 6.5rem;
}

.df-sec {
    margin: 13rem 0;
}

.df-sec-half {
    margin: 6.5rem 0;
}

.space-pt {
    padding: 100px 0 0;
}

.theme-p {
    color: var(--primary-color);
}

.theme-s {
    color: var(--secondary-color);
}
.breadcrumb {
    padding: 16px 0 !important;
}

.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}
.breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.breadcrumb-item.active {
    color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}

.main-header .topbar {
    padding: 5px 0;
    border-bottom: 1px solid rgba(2, 45, 98, 0.1); }
    .main-header .topbar ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0;
      color: #ffffff; }
      .main-header .topbar ul li {
        padding: 0 12px; }
        .main-header .topbar ul li:last-child {
          padding-right: 0; }
    .main-header .topbar a {
        text-decoration: none;
      color: #6f6f6f;
      font-size: 12px;
      font-weight: 600; }
      .main-header .topbar a:hover {
        color: #000; }

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    background: #fff;
    border-bottom: 1px solid #0000001f;
}

.d-space {
    margin: 6rem 0;
}

.border-shadow {
    border-bottom: 1px solid #0000001f;
}


.navbar-nav .nav-link {
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    color:black;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--secondary-color) !important;
}


#footer {
    background-color: var(--secondary-color);
}


#footer h6 {
    font-weight: 700;
    font-size: 1.3rem;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li > a{
    color: black;
    /* padding-bottom: 1rem ; */
    font-size: 1rem;
    display:block;
    padding-bottom: 1rem;
}

.footer-para{
    font-size: 1rem;
}



.wpF {
    position:fixed;
    bottom: 20px;
    right: 20px;
}

.wpF a img {
    width: 65px;
    height: 65px;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxes-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container .box  .img-box{
    /* max-width: 90px; */
    width: 140px;
    border-radius: 100%;
    overflow: hidden;
    transition: all .5s ease;
}

.boxes-container .box:hover .img-box img {
    transform: scale(1.1);
}

.boxes-container .box:hover  a {
    color: grey;
}

.boxes-container .box  .img-box img{
    width: 100%;
    transition: all .5s ease;
}

.boxes-container .box  a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.boxes-container .box h3 a:hover {
    text-decoration: none;
    color: grey;
}

.boxes-container .box  .img-box:hover img {
    transform: scale(1.1);
}

@media ( max-width: 460px ) {
    .box .img-box {
        width: 90px !important;
    }
}

.gallery-container .box img {
    width: 100%;
}

.gallery-container .box {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;transition: all .1s ease;
}

.gallery-container .box:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: scale(1.015);
}


.gallery-container .box::after {
    content: "\f16d";
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    align-items: center;
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 100%;
    background: rgba(0, 0, 0, 0.349);
    transition: all .2s ease-in-out;
    font-family: "Font Awesome 5 Brands";
}

.gallery-container .box:hover::after {
    transform: scale(1);
}

#whyUs {
    background: url('/assets/images/whyUs.jpg') no-repeat;
    background-position: center !important;
    width: 100%;
    background-size: cover;
    padding: 8rem 4rem;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0x);
    background-attachment: fixed;
    display: block;
}



#whyUs .wrapper {
    /* text-align: center; */
    color: #fff;
    font-weight: 700;
}

#whyUs .wrapper h2 {
    font-size: 2.9rem;
    font-weight: 600;
}

#whyUs .wrapper p {
    font-size: 1.23rem;
}

.bloom-btn {
    background: var(--secondary-color);
    color: #fff;

    border-radius: 10px;
    text-decoration: none;
    font-size: 1.25rem;
}

.tst-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials {
    margin: 4rem 0;
    padding: 6rem 0;
    background: #eee;
}

.tst-box .pp-box {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.tst-box .pp-box img {
    width: 100%;
}

.tst-box .det-box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.det-box p {
    padding: 0 2.3rem;
}

/* .prevArrowCustom {
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 15px;
    line-height: 0;
    position: absolute;
    transform: translate(0, -50%);
}

.nextArrowCustom {
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    right: ;
    padding: 0;
    font-size: 15px;
    line-height: 0;
    position: absolute;
    transform: translate(0, -50%);
} */

.slick-prev:before, .slick-next:before {
    color: grey !important;
}

.slick-dots li button:before {
    font-size: 22px !important;
}

#clientLogo .logobox {
    display: flex;
    justify-content: center;
}

/* .clientslogo-slider .slick-dots {
    padding: 1rem 0;
} */


@media (max-width: 480px) {

    .boxes-container .box {
        margin-bottom: 20px;
    }
}


.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}



@media (max-width: 418px) {
    .topbar {
        display: none;
    }
}


.slick-prev:before, .slick-next:before {

    font-family: "Font Awesome 5 Free" !important;

}


.slick-prev:before {
    content:  '\f359' !important;
}
.slick-next:before {
    content:  '\f35a' !important;
}



.grayscale, .img-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

iframe {
    width: 100%;
}



.h-100vh {
height: 100vh !important; }

.h-800 {
height: 800px; }

.h-700 {
height: 700px; }

.h-600 {
height: 600px; }

.h-500 {
height: 500px; }

.p-6 {
padding: 5rem !important; }



.social-icon li {
    display: inline-block;
    margin-right: 50px;
}


.social-icon li a {
    font-size: 18px;
    color: #000;
}

.footer-bt {
    text-align: center;
    padding: .5rem;
    background: var(--secondary-color-dark);
}


.footer-bt p {
    margin-bottom: 0;
}


@media (max-width: 767px) {
    .df-sec {
        margin: 6.5rem 0;
    }
    .p-6 {
        padding: 3rem !important;
    }
}



/*****************************
  List style
*****************************/
.list {
    margin: 0;
    padding: 0; }
    .list li {
      margin-bottom: 15px;
      color: #fff; }
      .list li:last-child {
        margin-bottom: 0px; }

  .list-number li span {
    background: rgba(239, 49, 57, 0.1);
    color: #FFAF00;
    border-radius: 50%;
    margin-right: 8px;
    width: 25px;
    height: 25px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    line-height: 25px;
    font-size: 13px; }





/*****************************
  Form Control
*****************************/
/* form-control */
.form-control {
    border: 1px solid #eeeeee;
    border-radius: 0px;
    height: 48px;
    padding: 10px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    background: #f6f6f6;
    color: #022d62;
    border-radius: 5px;
    background-clip: inherit !important; }
    .form-control:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      border-color: #FFAF00; }

  .form-control::-moz-placeholder {
    color: #3a4957; }

  .form-control::-ms-input-placeholder {
    color: #3a4957; }

  .form-control::-webkit-input-placeholder {
    color: #3a4957; }

  /* form-dark */
  .form-dark .form-control {
    background-color: #022d62;
    color: #ffffff; }
    .form-dark .form-control:focus {
      -webkit-box-shadow: 2px 2px 4px 0px rgba(2, 45, 98, 0.1);
              box-shadow: 2px 2px 4px 0px rgba(2, 45, 98, 0.1);
      border-color: #FFAF00; }

  .form-white .form-control {
    background-color: #ffffff;
    color: #022d62;
    font-weight: 500;
  }
    .form-white .form-control:focus {
      border-color: #FFAF00; }

  .form-dark .form-control::-moz-placeholder {
    color: #ffffff; }

  .form-dark .form-control::-ms-input-placeholder {
    color: #ffffff; }

  .form-dark .form-control::-webkit-input-placeholder {
    color: #ffffff; }


    /* Contact Us */

.ct-box {
    box-shadow:  0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 1px solid #eee;
    padding: 20px;
}

.addr-box {
    border: 1px solid #eee;
    padding: 20px;
}
.addr-box a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: 12px;
    font-weight: 600;

}


.animenu__btn {
    display: none;
    cursor: pointer;
    border: 0;
    padding: 10px;
    height: 40px;
    width: 40px;
}
.animenu__btn:hover {
    background-color: #0186ba;
}
.animenu__btn__bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
}
.animenu__btn__bar + .animenu__btn__bar {
    margin-top: 4px;
}
.animenu__btn--active .animenu__btn__bar {
    margin: 0;
    position: absolute;
}
.animenu__btn--active .animenu__btn__bar:nth-child(1) {
    transform: rotate(45deg);
}
.animenu__btn--active .animenu__btn__bar:nth-child(2) {
    opacity: 0;
}
.animenu__btn--active .animenu__btn__bar:nth-child(3) {
    transform: rotate(-45deg);
}
.animenu {
    display: block;
}
.animenu ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: 'Comfortaa', cursive,'Josefin Sans', sans-serif;
}
.animenu li, .animenu a {
    display: inline-block;
    font-size: 12px;
}
.animenu a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.animenu__nav > li {
    position: relative;
}
.animenu__nav > li > a {
    padding: 10px 20px;
    text-transform: uppercase;
}
.animenu__nav > li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.animenu__nav > li:hover > a {
    color: #000;
}
.animenu__nav > li:focus-within > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.animenu__nav > li:focus-within > a {
    color: #fff;
}
.animenu__nav__hasDropdown:before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 0;
    border-top-color: currentColor;
    top: 50%;
    margin-top: -2px;
    right: 10px;
}
.animenu__nav__dropdown {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 20px 0 0 0;
    background-color: #373737;
    transition: margin 0.15s, opacity 0.15s;
}
.animenu__nav__dropdown > li {
    width: 100%;
    border-bottom: 1px solid #515151;
}
.animenu__nav__dropdown > li:first-child > a:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 1em;
    top: -6px;
    border: 6px solid transparent;
    border-top: 0;
    border-bottom-color: inherit;
}
.animenu__nav__dropdown > li:last-child {
    border: 0;
}
.animenu__nav__dropdown a {
    padding: 10px;
    width: 100%;
    border-color: #373737;
}
.animenu__nav__dropdown a:hover {
    background-color: #0186ba;
    border-color: #0186ba;
    color: #fff;
}
.animenu__nav__dropdown a:focus-within {
    background-color: #0186ba;
    border-color: #0186ba;
    color: #fff;
}
@media screen and (max-width: 767px) {
    .animenu__btn {
        display: inline-block;
   }
    .animenu__nav, .animenu__nav__dropdown {
        display: none;
   }
    .animenu__nav {
        margin: 10px 0;
   }
    .animenu__nav > li {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #515151;
   }
    .animenu__nav > li:last-child {
        border: 0;
   }
    .animenu__nav > li:first-child > a:after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: 1em;
        top: -6px;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: inherit;
   }
    .animenu__nav > li > a {
        width: 100%;
        padding: 10px;
        border-color: #111;
        position: relative;
   }
    .animenu__nav a:hover {
        background-color: #0186ba;
        border-color: #0186ba;
        color: #fff;
   }
    .animenu__nav__dropdown {
        position: static;
        background-color: #373737;
        margin: 0;
        transition: none;
        visibility: visible;
        opacity: 1;
   }
    .animenu__nav__dropdown > li:first-child > a:after {
        content: none;
   }
    .animenu__nav__dropdown a {
        padding-left: 20px;
        width: 100%;
   }
}
.animenu__nav--active {
    display: block !important;
}
.animenu__nav--active .animenu__nav__dropdown {
    display: block;
}




.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 6px 10px -9px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.card-image a img {
    transition: all .3s ease;
}


.card:hover .card-image a img {
    transform: scale(1.2);
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card img {
    width: 100%;
    height: auto;
}

.img-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .ftr {
    margin-top: 15px;
}

.card .ftr div {
    display: inline-block;
}

.card .ftr .author {
    color: #888;
}

.card .ftr .stats {
    float: right;
    line-height: 30px;
}

.card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}


/* ============ Card Table ============ */

.table {
    margin-bottom: 0px;
}

.card .table {
    padding: 15px 30px;
}

.card .table-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.card .table-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
}

.card .table-success {
    background: linear-gradient(60deg, #66bb6a, #388e3c);
}

.card .table-warning {
    background: linear-gradient(60deg, #ffa726, #f57c00);
}

.card .table-danger {
    background: linear-gradient(60deg, #ef5350, #d32f2f);
}

.card .table-rose {
    background: linear-gradient(60deg, #ec407a, #c2185b);
}

.card [class*="table-"] {
    color: #FFFFFF;
    border-radius: 6px;
}

.card [class*="table-"] .card-caption a,
.card [class*="table-"] .card-caption,
.card [class*="table-"] .icon i {
    color: #FFFFFF;
}

.card [class*="table-"] .icon i {
    border-color: rgba(255, 255, 255, 0.25);
}

.card [class*="table-"] .author a,
.card [class*="table-"] .ftr .stats,
.card [class*="table-"] .category,
.card [class*="table-"] .card-description {
    color: rgba(255, 255, 255, 0.8);
}

.card [class*="table-"] .author a:hover,
.card [class*="table-"] .author a:focus,
.card [class*="table-"] .author a:active {
    color: #FFFFFF;
}

.card [class*="table-"] h1 small,
.card [class*="table-"] h2 small,
.card [class*="table-"] h3 small {
    color: rgba(255, 255, 255, 0.8);
}


/* ============ Card Blog ============ */

.card-blog {
    margin-top: 30px;
}

.card-blog .card-caption {
    margin-top: 5px;
}

.card-blog .card-image + .category {
    margin-top: 20px;
}

.card-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


/* ============ Card Background ============ */

.card-background {
    background-position: center;
    background-size: cover;
    text-align: center;
}

.card-background .table {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}

.card-background .category,
.card-background .card-description,
.card-background small {
    color: rgba(255, 255, 255, 0.8);
}

.card-background .card-caption {
    color: #FFFFFF;
    margin-top: 10px;
}

.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    table: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px;
}


/* ============ Card Profile ============ */

.card-profile {
    margin-top: 30px;
    text-align: center;
}


/* ============ Card Category ============ */

.category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}


/* ============ Card Author ============ */

.card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #333;
    text-decoration: none;
}

.card .author a .ripple-cont {
    display: none;
}


/* ============ Card Product ============ */

.card-product {
    margin-top: 30px;
}

.card-product .btn-simple.btn-just-icon {
    padding: 0;
}

.card-product .ftr {
    margin-top: 5px;
}

.card-product .ftr .stats {
    margin-top: 4px;
    top: 0;
}

.card-product .ftr h4 {
    margin-bottom: 0;
}

.card-product .card-caption,
.card-product .category,
.card-product .card-description {
    text-align: center;
}

.card-description p {
    color: #888;
}

.card-caption,
.card-caption a {
    color: #333;
    text-decoration: none;
}

.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}


/* ============ Card Testimonial ============ */

.card-testimonial {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}

.card-testimonial .card-avatar {
    max-width: 100px;
    max-height: 100px;
}

.card-testimonial .card-description {
    font-style: italic;
}

.card-testimonial .card-description + .card-caption {
    margin-top: 30px;
}

.card-testimonial .icon {
    margin-top: 30px;
}

.card-testimonial .icon {
    font-size: 40px;
}

.card-testimonial .ftr {
    margin-top: 0;
}

.card-testimonial .ftr .card-avatar {
    margin-top: 10px;
    margin-bottom: -50px;
}


.navbar {
    padding-top: 0 !important ;
    padding-bottom: 0 !important;
}

.nav-link {
    padding: 1.6rem 2rem !important;
}

.dropdown-menu {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    padding: 0 !important;
    border-radius: 0 !important;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.dropdown-menu li a {
    padding: 14px 10px;
}


.breadcrumb ol li a {
    text-decoration: none !important;
}

.breadcrumb ol li a {
    font-size: 12px;
    font-family: 'Comfortaa';
    font-weight: bold !important;
}



/* MEGAMENU STYLE
=================================*/
nav.main-menu .mega-menu-item.megamenu-fw {
    position: static;
}
nav.main-menu .megamenu-fw .mega-submenu, nav.main-menu .megamenu-content {
    width: auto !important;
}
nav.main-menu .megamenu-fw .mega-submenu .row{
    margin: 0;
}
nav.main-menu .megamenu-content {
    width: 100%;
}
nav.main-menu .megamenu-content .title{
    margin: 0;
    display: block;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    padding: 6px 20px;
    color: inherit;
    border-right: 1px solid transparent;
}
nav.main-menu .mega-menu-item.megamenu-fw .mega-submenu {
    left: 0;
    right: 0;
}


nav.main-menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
nav.main-menu ul li {
    position: relative;
}
nav.main-menu ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.55);
}
nav.main-menu{
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
    z-index: 2;
}
nav.main-menu li ul.mega-submenu {
    position: absolute;
    display: block;
    width: 240px;
    opacity: 0;
    display: none;
    z-index: 2;
    border: 0;
    padding: 25px 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-clip: padding-box;
}
nav.main-menu ul.menu > li{
    position: relative;
    display: inline-block;
}
nav.main-menu ul.menu li ul.mega-submenu li a {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    display: block;
    padding: 8px 20px;
    text-align: left;
    color: inherit;
    text-transform: capitalize;
    border-radius: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
ul.menu-col li a{
    color: #6f6f6f;
}
ul.menu-col li a:hover,
ul.menu-col li a:focus{
    text-decoration: none;
}


/* Responsive
=================================*/

@media (min-width: 1200px) {

    nav.main-menu li.mega-menu-item ul.mega-submenu li ul {
        left: 100%;
        top: 0;
        border-top: 0;
    }
    nav.main-menu li.mega-menu-item:last-child > ul {
        right: 0;
        left: auto;
    }
    nav.main-menu ul.menu > li > a{
        display: block;
        position: relative;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0;
    }

    nav.main-menu ul.menu > li > a:hover {
        color: #000 !important;
    }

    nav.main-menu li.mega-menu-item ul.mega-submenu li > a:hover {
        color: #000 !important;
    }

    nav.main-menu ul.menu > li.ic > a:after {
        position: absolute;
        content: "\f107";
        font-family: "FontAwesome";
        font-size: 13px;
        margin-left: 4px;
        margin-top: 2px;
        opacity: 0.8;
    }

    nav.main-menu li.mega-menu-item ul.mega-submenu li.mega-menu-item > a:hover {
        color: #000 !important;
    }
    nav.main-menu li.mega-menu-item ul.mega-submenu li.mega-menu-item > a.mega-menu-link:before {
        font-family: 'FontAwesome';
        float: right;
        content: "\f105";
        margin-top: 0;
    }
    nav.main-menu ul.mega-submenu.megamenu-content .col-menu{
        padding: 0;
        width: 240px;
        border-right: solid 1px #f0f0f0;
    }
    nav.main-menu ul.mega-submenu.megamenu-content .col-menu:first-child{
        border-left: none;
    }
    nav.main-menu ul.mega-submenu.megamenu-content .col-menu:last-child{
        border-right: none;
    }
    nav.main-menu ul.mega-submenu.megamenu-content .content ul.menu-col li:last-child a{
        border-bottom: unset;
    }
    nav.main-menu li.mega-menu-item.on ul.mega-submenu.megamenu-content .content{
        display: block !important;
        height: auto !important;
    }
    nav.main-menu li.mega-menu-item:hover > ul.mega-submenu {
        opacity: 1;
        display: block;
        visibility: visible;
        height: auto;
    }
    nav.main-menu .megamenu-content .megamenu-content-inner { display: flex; }
}


@media (max-width: 1199px) {

    .menubar{
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        z-index: 9;
    }
    .menubar-box {
        display: block;
        width: 30px;
        height: 24px;
    }
    .menubar-inner, .menubar-inner:after, .menubar-inner:before {
        position: absolute;
        width: 30px;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #000;
    }
    .menubar--squeeze .menubar-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: .1s;
    }
    .menubar-inner:after, .menubar-inner:before {
        display: block;
        content: '';
    }
    .menubar-inner:after {
        bottom: -8px;
    }
    .menubar-inner:before {
        top: -8px;
    }
    .menubar--squeeze.is-active .menubar-inner {
        transition-delay: .14s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);
    }
    .menubar--squeeze.is-active .menubar-inner:before {
        top: 0;
        transition: top .1s ease,opacity .1s ease .14s;
        opacity: 0;
    }
    .menubar--squeeze.is-active .menubar-inner:after {
        bottom: 0;
        transition: bottom .1s ease,transform .1s cubic-bezier(.215,.61,.355,1) .14s;
        transform: rotate(-90deg);
    }


    nav.main-menu{
        display: none ;
        max-height: 10000px;
        position: absolute;
        box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
        z-index: 100;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    nav.main-menu.show{
        display: block;
        max-height: 10000px;
    }
    nav.main-menu ul.menu, nav.main-menu ul.menu > li{
        display: block;
        position: relative;
    }
    nav.main-menu ul.menu > li > a{
        display: block;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 15px;
        line-height: 20px;
        border-top: solid 1px rgba( 93,93,93,0.1);
        text-align: left;
    }
    nav.main-menu ul.menu > li:first-child > a{
        border-top: none;
    }
    nav.main-menu ul.menu li > ul.mega-submenu li a:hover{
        background-color: transparent;
        color: inherit;
    }
    nav.main-menu ul.menu li ul.mega-submenu li a{
        padding: 15px 20px;
    }
    nav.main-menu ul.menu li ul.mega-submenu li:not(:first-child) a {
        border-top: 1px solid rgba( 93,93,93,0.07)
    }
    nav.main-menu li.mega-menu-item a.mega-menu-link.ic:after{
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
    nav.main-menu li.mega-menu-item.on > a.mega-menu-link:after{
        content: "\f107";
    }
    nav.main-menu ul.menu-left > li:last-child > ul.mega-submenu{
        border-bottom: solid 1px #e0e0e0;
    }
    nav.main-menu ul.menu li.mega-menu-item ul.mega-submenu{
        width: 100%;
        background-color: transparent;
        float: none;
        border: none;
        padding: 0 0 10px 15px;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px;
        -o-border-radius: 0px 0px 0px;
        border-radius: 0px 0px 0px;
    }
    nav.main-menu ul.menu li ul.mega-submenu li.active > a { background-color: transparent; }
    nav.main-menu ul.menu li.mega-menu-item ul.mega-submenu.active {
        position: relative;
        visibility: visible;
        top: 0;
        width: 100%;
        opacity: 1;
        z-index: 1;
        display: block;
        background-color: transparent;
        box-shadow: unset;
    }
    nav.main-menu ul.menu ul.mega-submenu li.mega-menu-item.on > ul.mega-submenu{
        display: inline-block;
        margin-top: -10px;
    }
    nav.main-menu .megamenu-content .col-menu {
        padding-bottom: 0;
        max-width: 100%;
        flex: 100%;
    }
    nav.main-menu .mega-menu-item .megamenu-content .col-menu .title{
        padding: 10px 15px 10px 0;
        margin-bottom: 0;
        line-height: 24px;
        font-size: 14px;
        text-transform: none;
        font-weight: 500;
        letter-spacing: 0px;
        cursor: pointer;
        background-color: transparent;
        border-right: 0;
        border-bottom: solid 1px rgba( 93,93,93,0.1);
    }
   nav.main-menu .mega-menu-item .megamenu-content .col-menu .title:before{
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
        position: relative;
        right: 0;
    }
    nav.main-menu .mega-menu-item .megamenu-content .col-menu:last-child .title{
        border-bottom: none;
    }
    nav.main-menu .mega-menu-item .megamenu-content .col-menu.on:last-child .title{
        border-bottom: solid 1px #e0e0e0;
    }
    nav.main-menu .mega-menu-item .megamenu-content .col-menu:last-child ul.menu-col li:last-child a{
        border-bottom: none;
    }
    nav.main-menu .mega-menu-item .megamenu-content .col-menu.on .title:before{
        content: "\f107";
    }
    nav.main-menu .megamenu-content{
        padding: 0;
    }
    nav.main-menu .megamenu-content .megamenu-content{
        padding-bottom: 0;
        max-width: 100%;
        flex: 100%;
        display: block;
    }
    nav.main-menu .megamenu-content .title{
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        margin-bottom: 0;
        font-weight: normal;
    }
    nav.main-menu .megamenu-content .menu-col{
        display: none;
    }
     nav.main-menu .megamenu-content .menu-col.active{
        display: block;
    }
    nav.main-menu .megamenu-content .megamenu-content-inner { padding: 0 15px; }


}


@media only screen and (min-width: 1200px){

     ul.menu > li >a {
		padding: 37px 14px ;
	}

	 ul.menu > li >a {
		padding: 19px 17px 19px 17px;
		position: relative;
	}

}


@media (max-width: 1199px)
{
    .header_btn, .widget_info {
        display: none !important;
        visibility: hidden;
    }

}
